/*STYLES FOR NAVBAR*/
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
:root {
  --Josefin-Sans: "Josefin Sans", sans-serif;
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
  --Dark-Gray: hsl(0, 0%, 55%);
  --Very-Dark-Gray: hsl(0, 0%, 41%);
  --Very-Very-Dark-Gray: rgba(18, 18, 18, 0.8);
}
* {
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  padding: 25px 45px;
  box-sizing: border-box;
}
.container-brand,
.btn-menu {
  position: relative;
  z-index: 1500;
}
.hidden {
  display: none;
}
.show {
  display: block;
  position: fixed;
  background-color: var(--Black);
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  color: var(--White);
  z-index: 1000;
  padding: 25px;
  padding-left: 70px;
}
.show ul {
  margin-top: 100px;
}
.show ul li {
  list-style: none;
  font-family: var(--Josefin-Sans);
  font-weight: 200;
  line-height: 2;
}
.show ul li a {
  color: var(--White);
  text-decoration: none;
  font-size: 1.5em;
}
.btn-menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding-inline: 15px;
}
.scrolled{
    background-color: var(--Very-Very-Dark-Gray);
}
/*STYLES FOR HERO SECTION*/

.hero-section {
  position: relative;
  display: flex;
  align-items: center; 
  justify-content: center;
  height: 100vh; 
  overflow: hidden;
}
.hero-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  object-fit: cover; 
}

.img-mobile{
    min-height: 100%;
}
.main-title {
  color: white;
  font-size: 3rem;
  font-weight: 200;
  line-height: 1.2;
  border: 2px solid var(--White);
  padding: 35px;
  font-family: var(--Josefin-Sans);
  z-index: 1;
  max-width: 350px;
  margin: 0; 
  letter-spacing: 2px;
}

/*STYLES FOR INTERACTIVE SECTION*/
.interactive-section {
  box-sizing: border-box;
  margin: 100px 30px 40px;
}
.interactive-section img {
  width: 100%;
}
.interactive-section-info {
  margin-top: 35px;
  padding: 15px;
}
.interactive-section-info h2 {
  font-family: var(--Josefin-Sans);
  font-weight: 300;
  margin-bottom: 20px;
}
.interactive-section-info p {
  font-family: var(--Josefin-Sans);
  color: var(--Dark-Gray);
}
.img-desktop {
  display: none;
}
.interactive-section-title,
.creations-section-title {
  font-family: var(--Josefin-Sans);
  font-weight: 300;
  margin-bottom: 25px;
  text-align: center;
  font-size: 2em;
}
.creations-section-title{
margin-bottom: 45px;
}
.creations-section {
  display: flex;
  flex-direction: column;
}
.container-creations {
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-sizing: border-box;
}
.container-creations div {
  width: 100%;
  position: relative;
  height: auto;
}
.container-creations div img {
  width: 100%;
}
.creation-title {
  position: absolute;
  color: var(--White);
  z-index: 10;
  font-family: var(--Josefin-Sans);
  font-size: 25px;
  font-weight: 300;
  bottom: 40px;
  left: 40px;
}

/*BUTTON SEE ALL*/
.see-all {
  font-family: var(--Josefin-Sans);
  padding: 20px 40px;
  margin: 30px auto;
  background-color: transparent;
  letter-spacing: 5px;
  cursor: pointer;
}
.see-all:hover {
  background-color: var(--Black);
  color: var(--White);
}
/*FOOTER SECTION*/
.footer-section {
  background-color: var(--Black);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  margin-top: 100px;
}
.container-brand-footer {
  padding: 40px;
}
.footer-section ul li {
  font-family: var(--Josefin-Sans);
  list-style: none;
}
.footer-section ul li a {
  color: var(--White);
  text-decoration: none;
  line-height: 3;
}
.container-icons {
  margin-top: 30px;
}
.container-icons a {
  padding: 10px;
  color: var(--Black);
}
.footer-section h5 {
  color: var(--Dark-Gray);
  padding: 20px;
}

.attribution {
  font-size: 14px;
  text-align: center;
}
.attribution p {
  color: var(--Dark-Gray);
  font-family: var(--Josefin-Sans);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.btn-mobile{
    display: block;
}
.btn-desktop{
    display: none;
}
.container-creations{
    margin: 30px;
}
@media screen and (min-width: 1200px) {
  .img-desktop {
    display: block;
    min-height: 100%;
  }
  .img-mobile {
    display: none;
  }
  .main-title {
    font-size: 3.5em;
    margin-left: 20%;
    padding: 40px;
    padding-right: 60px ;
    letter-spacing: 5px;
    word-wrap: break-word; 
    max-width: 500px;
  }
  .container-creations {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
    box-sizing: border-box;
  }
  .container-creations > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .grid-item {
    width: 100%;
    object-fit: cover;
  }
  .interactive-section{
    position: relative;
    padding: 20px;
  }
  .interactive-section-desktop{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--White);
    width: 50%;
    max-height: 70%;
    padding: 100px 0px 0px 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
    
  }
  .interactive-section-title{
    text-align: left;
    font-size: 2.5em;
  }
  .interactive-section-desktop p {
    line-height: 1.5;
  }
  .img-vr-glasses{
    max-width: 1200px;
  }
  .btn-menu{
    display: none;
  }
  .nav-desktop{
    display: block;
    box-sizing: border-box;
  }
  .nav-desktop ul{
    list-style: none;
    display: flex;
  }
  .nav-desktop ul li{
    padding: 10px;
  }
  .nav-desktop ul li a{
    text-decoration: none;
    color: var(--White);
    font-family: var(--Josefin-Sans);
    padding-bottom: 5px;
  }
  .nav-desktop ul li a:hover{
    border-bottom: 1px solid var(--White);
  }
  .hero-section{
    justify-content: flex-start;
  }
}
@media screen and (min-width: 800px) {
  .show{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0px;
    padding-top: 50px;
  }
  .creations-section{
    margin: 20px 120px 20px;
  }
  .interactive-section{
    margin: 120px 120px 20px;
  }
  .btn-mobile{
    display: none;
  }
  .btn-desktop{
    display: block;
  }
  .creations-section  > div:first-child{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 120px 0px 80px;
  }
  .creations-section{
    box-sizing: border-box;
  }
  .see-all, .creations-section-title {
    margin: 0px;
  }
  .container-creations{
    margin: 0px;
  }
}
